# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python server
**/__pycache__/**
server/fileManager/
server/src/resourceMap/resourceMap.json
server/pem/rootCA.*
server/pem/server.*

# JS
spa/public/images/
spa/public/webps/
spa/src/data.json
spa/src/placeholder.ts

# electron
spa/dist_electron/